        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            margin: 0;
            overflow: hidden;
        }
        
        #header {
            background-color: #cadcf0;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
        }

        #project {
            background-color: #181616;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin: 20px 0;
            padding: 20px;
            text-align: left;
        }

        #project h2 {
            color: #333;
        }

        #project p {
            color: #666;
        }

        .bg-cool-gray-900 {
            background-color: #1f2937;
        }

        .text-cool-gray-300 {
            color: #e5e7eb;
        }

        .hover-bg-blue-500:hover {
            background-color: #3b82f6;
        }

        .hover-text-blue-500:hover {
            color: #3b82f6;
        }

        .card {
            border-radius: 15px;
        }

       